* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 768;
    width: 1366;
}

#descuentos {
    background-color: #1CD1B0;
    display: flex;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    width: 1366px;
    height: 38px;
    left: 0px;
    top: 0px;
    padding-left: 10px;
    padding-top: 10px;
}

h1 {
    background-color: #00669F;
    display: flex;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    width: 1366px;
    height: 101px;
    left: 0px;
    top: 38px;
    padding-left: 20px;
    padding-top: 30px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

.caja {

}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
}

div {
    width: 300px;
    height: 829px;
    background-color: #F3F3F3;
}

footer p {
    background-color: #00669F;
    display: flex;
    font-family: 'Roboto', sans-serif;
    color: white;
    position: absolute;
    width: 1366px;
    height: 51px;
    left: 0px;
    top: 971px;
    padding-left: 10px;
    padding-top: 20px;


}